<div class="menu">
    <div class="menu-header">
        <img src="{{ asset('img/favicon.png') }}" alt="logo" class="logo">
    </div>
    <ul class="menu-list">
        <li class="menu-item">
            <span>Home</span>
        </li>
        <li class="menu-item">
            <span>Menu</span>
        </li>
        <li class="menu-item">
            <span>Locations</span>
            <i class="menu-item-icon">k</i>
            <ul class="menu-list">
                <li class="menu-item">
                    <span>Madrid</span>
                </li>
                <li class="menu-item">
                    <span>Barcelona</span>
                </li>
                <li class="menu-item">
                    <span>Valencia</span>
                </li>
            </ul>
        </li>
    </ul>
</div>